.dashboard header {
  position: relative;
}

.dashboard header h3 {
  display: flex;
}

.dashboard header .right {
  position: absolute;
  right: 0;
  top: 0;
  text-align: right;
}

.map-wrapper {
  width: calc(100% + 15px * 2);
  margin-left: -15px;
  position: relative;
  height: 400px;
}

.table-wrapper {
  display: none;
}

.mobile-table {
  border: 1px solid rgb(224, 224, 224);
  border-radius: 3px;
  display: block;
}

.mobile-table-row + .mobile-table-row {
  border-top: 3px solid rgb(224, 224, 224);
}

.mobile-table-col + .mobile-table-col {
  border-top: 1px solid rgb(224, 224, 224);
}

.mobile-table-col {
  padding: 15px;
  display: flex;
  justify-content: space-between;
}


.filters {
  margin-bottom: 15px;
}

.error {
  color: #F44336 !important
}

.submit {
  width: 100%;
}

@media(min-width:768px){
  .dashboard header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .dashboard header h3 {
    font-size: 22px;
  }

  .dashboard header .right {
    position: relative;
  }

  .table-wrapper {
    display: block;
    margin-bottom: 60px;
  }

  .mobile-table {
    display: none;
  }

  .map-wrapper {
    height: 800px;
  }

  .filters {
    float: right;
    display: flex;
    align-items: center;
    margin-bottom: 0;
  }

  .filters .label {
    font-weight: 400;
    margin-right: 15px;
  }

  .submit {
    float: right;
    width: auto;
  }
}

@media(min-width:992px){
  .map-wrapper {
    width: calc(100% + 56px * 2);
    margin-left: -56px;
  }
}

@media(min-width:1200px){
}