.profile:after {
  content: "";
  display: block;
  width: 100%;
  overflow: hidden;
}

.avatar {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 180px;
}

.avatar img {
  box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
  border-radius: 50%;
  width: 100%;
}

.button {
  margin: 30px 0;
  float: right;
}

.errors {
  margin: 15px 0;
}

.error {
  color: #ff4646 !important;
}

.error + .error {
  margin-top: 15px;
}