.avatar {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 180px;
  border-radius: 50%;
  overflow: hidden;
}

.avatar img {
  width: 100%;
}

.button {
  margin: 30px 0
}